.react-datepicker {
  font-size: 20px;
}
.react-datepicker__header {
  background-color: white;
  border: none;
}

.react-datepicker__current-month {
  font-size: 1.2em;
  margin-right: 270px;
  margin-top: 13px;
  font-weight: 300;
  color: rgb(12, 12, 172);
}

.react-datepicker__month-container {
  width: 530px;
  height: 460px;
}

.react-datepicker__day {
  width: 60px;
  height: 60px;
  align-items: center;
}

.react-datepicker__day-name {
  color: gray;
  font-size: 16px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__navigation {
  top: 1.4em;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  margin-left: 10px;
}

.react-datepicker__navigation--next {
  border-left-color: #ccc;
  margin-right: 10px;
}
