/*기본 글자 색상*/
.react-datepicker {
  font-size: 18px;
}

/* 현재 날짜 & 년도, 요일이 포함된 헤더 */
.react-datepicker__header {
  background-color: white;
  height: 100px;
  margin-bottom: -9px;
  border: none;
}

/*현재 날짜와 년도 나타냄 ex) Octoer 2023*/
.react-datepicker__current-month {
  font-size: 1.16em;
  margin-right: 220px;
  margin-top: 13px;
  font-weight: 600;
  color: #2c5c84;
}

/*헤더 제외 나머지 영역이라고 볼 수 있음 */
.react-datepicker__month-container {
  width: 440px;
  height: 390px;
}

/* 일자들을 가르킴 */
.react-datepicker__day {
  width: 50px;
  height: 50px;
  line-height: 50px;
  align-items: center;
}

/* 마우스 호버시 일자 */
.react-datepicker__day:hover {
  background-color: #cfe4fe;
}

/* 선택된 일자 가르킴*/
.react-datepicker__day--selected {
  background-color: #ecf1f7;
}

/* 선택된 기간 가르킴*/
.react-datepicker__day--in-range {
  background-color: #cfe4fe;
  color: black;
}

/* 요일들 나타냄 -> Su Mo Tu ...*/
.react-datepicker__day-name {
  color: gray;
  font-size: 16px;
  width: 50px;
  height: 50px;
}

/* 캘린더 위의 세모 말풍선 없애기 */
.react-datepicker__triangle {
  display: none;
}

/*다른 월로 넘어가는 네비게이션*/
.react-datepicker__navigation {
  margin-top: 25px;
}

.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  margin-left: 3px;
}

.react-datepicker__navigation--next {
  border-left-color: #ccc;
  margin-right: 3px;
}
